In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('남원읍.csv')

In [42]:
a = ['남원읍', '대륜동', '대정읍', '대천동', '동홍동', '서홍동', '성산읍', '송산동', '안덕면', '영천동', '예래동', '정방동', '중문동', '중앙동', '천지동', '표선면', '효돈동']

In [44]:
list1=[]
for i in a:
    f=i
    list1.append(f)

In [43]:
len(a)

17

In [107]:
a = ['남원읍', '대륜동', '대정읍', '대천동', '동홍동', '서홍동', '성산읍', '송산동', '안덕면', '영천동', '예래동', '정방동', '중문동', '중앙동', '천지동', '표선면', '효돈동']
dfs = list()
for loc in a:
    df = pd.read_csv(f'{loc}.csv')
    df['동'] = '서귀포시' + ' ' + loc
    df.columns = ['날짜', '시간', '습도', '동']
    df = df[df['시간'].isin(['600','700','800','900','1000','1100','1800','1900'])]
    dfs.append(df)

weather = pd.concat(dfs, axis=0)

In [108]:
df = pd.pivot_table(weather, index=['동', '날짜'], columns='시간', values='습도').reset_index()

In [109]:
날짜=[]
for j in range(17):
    for i in range(30):
        if i<9:
            temp= '2019-09-0' + str(i+1)
        else:
            temp= '2019-09-' +str(i+1)
        
        날짜.append(temp)
    
df['날짜']= 날짜

In [110]:
df.to_csv('서귀포시 습도.csv')

In [100]:
all_name=['건입동', '구좌읍', '노형동', '도두동', '봉개동', '삼도1동', '삼도2동', '삼양동', '아라동', '애월읍', '연동', '오라동', '용담1동', '용담2동', '우도면', '이도1동', '이도2동', '이호동', '일도1동', '일도2동', '조천읍', '추자면', '한경면', '한림읍', '화북동']
dfs = list()
for loc in all_name:
    df = pd.read_csv(f'{loc}.csv')
    df['동'] = '제주시' + ' ' + loc
    df.columns = ['날짜', '시간', '습도', '동']
    df = df[df['시간'].isin(['600','700','800','900','1000','1100','1800','1900'])]
    dfs.append(df)

weather1 = pd.concat(dfs, axis=0)

In [101]:
df = pd.pivot_table(weather1, index=['동', '날짜'], columns='시간', values='습도').reset_index()

In [103]:
len(df['동'].unique())

25

In [104]:
날짜=[]
for j in range(25):
    for i in range(30):
        if i<9:
            temp= '2019-09-0' + str(i+1)
        else:
            temp= '2019-09-' +str(i+1)
        
        날짜.append(temp)
    
df['날짜']= 날짜

In [105]:
df

시간,동,날짜,600,700,800,900,1000,1100,1800,1900
0,제주시 건입동,2019-09-01,86.0,91.0,96.0,98.0,96.0,96.0,96.0,97.0
1,제주시 건입동,2019-09-02,81.0,82.0,90.0,92.0,92.0,92.0,99.0,96.0
2,제주시 건입동,2019-09-03,94.0,96.0,98.0,97.0,96.0,94.0,93.0,94.0
3,제주시 건입동,2019-09-04,90.0,83.0,87.0,92.0,96.0,96.0,89.0,89.0
4,제주시 건입동,2019-09-05,92.0,94.0,92.0,90.0,92.0,95.0,91.0,93.0
...,...,...,...,...,...,...,...,...,...,...
745,제주시 화북동,2019-09-26,82.0,80.0,87.0,90.0,90.0,90.0,95.0,92.0
746,제주시 화북동,2019-09-27,95.0,99.0,98.0,99.0,99.0,99.0,98.0,98.0
747,제주시 화북동,2019-09-28,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
748,제주시 화북동,2019-09-29,92.0,91.0,93.0,94.0,96.0,97.0,92.0,92.0
749,제주시 화북동,2019-09-30,91.0,96.0,94.0,97.0,97.0,88.0,97.0,94.0

In [106]:
df.to_csv('제주시 습도.csv')

In [84]:
df

시간           600    700    800    900    1000   1100   1800   1900
동       날짜
제주시 건입동 1    86.0   91.0   96.0   98.0   96.0   96.0   96.0   97.0
        2    81.0   82.0   90.0   92.0   92.0   92.0   99.0   96.0
        3    94.0   96.0   98.0   97.0   96.0   94.0   93.0   94.0
        4    90.0   83.0   87.0   92.0   96.0   96.0   89.0   89.0
        5    92.0   94.0   92.0   90.0   92.0   95.0   91.0   93.0
...           ...    ...    ...    ...    ...    ...    ...    ...
제주시 화북동 26   82.0   80.0   87.0   90.0   90.0   90.0   95.0   92.0
        27   95.0   99.0   98.0   99.0   99.0   99.0   98.0   98.0
        28  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0
        29   92.0   91.0   93.0   94.0   96.0   97.0   92.0   92.0
        30   91.0   96.0   94.0   97.0   97.0   88.0   97.0   94.0

[750 rows x 8 columns]